:root {
    /* Document Used Variables */
    --color-background: var( --theme-dark-color-background );
    --color-card: var( --theme-dark-color-card );
    --color-card-title: var( --theme-dark-color-text-primary );
    --color-card-text: var( --theme-dark-color-text-secondary );

    /* Light theme */
    --theme-light-color-statusbar: #e0e0e0;
    --theme-light-color-appbar: #f5f5f5;   
    --theme-light-color-background: #fafafa;
    --theme-light-color-card: #fff;
    --theme-light-color-text-primary:  rgba( 0,0,0, 0.87 );
    --theme-light-color-text-secondary: rgba( 0,0,0, 0.54 );
    --theme-light-color-text-disabled: rgba( 0,0,0, 0.38 );
   

    /* Dark Theme */    
    --theme-dark-color-statusbar: #000;
    --theme-dark-color-appbar: #212121;   
    --theme-dark-color-background: #303030;
    --theme-dark-color-card: #424242;
    --theme-dark-color-text-primary:  rgb( 255,255,255 );
    --theme-dark-color-text-secondary: rgba( 255,255,255, 0.7 );
    --theme-dark-color-text-disabled: rgba( 255,255,255, 0.5 );  


    /* media queries */
    --viewport-phone: 599px;
    --viewport-tablet-portrait: 600px;
    --viewport-tablet-landscape: 900px;
    --viewport-desktop: 1200px;
    --viewport-large: 1800px;
    --viewport-2k: 2400px;
    --viewport-4k: 3100px;
}

/* phone screens */
@media only screen and (max-width: var( --viewport-phone )) {
    .cardgrid {
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
}

html {
    font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var( --color-background );
    margin: 0;
}

.card {
    padding: 1em;
}
/*
.cardgrid > .card:nth-child(odd){
}
*/
.cardgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.2em;
    text-align: center;
}

.mdCard {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.cardImage {
    width: 100%;
    height: auto;
}

.gCard {
    background-color: var( --color-card );
    border-radius: 2px;
    overflow: hidden;
}
.cardTitle {
    color: var( --color-card-title );
}
.cardContent {
    color: var( --color-card-text );
}