:root {
    /* Document Used Variables */
    --color-background: var( --theme-dark-color-background );
    --color-appbar: var( --theme-dark-color-statusbar );
    --color-card: var( --theme-dark-color-card );
    --color-card-title: var( --theme-dark-color-text-primary );
    --color-card-text: var( --theme-dark-color-text-secondary );
    --target-card-size: 15em;

    /* Light theme */
    --theme-light-color-statusbar: #e0e0e0;
    --theme-light-color-appbar: #f5f5f5;   
    --theme-light-color-background: #fafafa;
    --theme-light-color-card: #fff;
    --theme-light-color-text-primary:  rgba( 0,0,0, 0.87 );
    --theme-light-color-text-secondary: rgba( 0,0,0, 0.54 );
    --theme-light-color-text-disabled: rgba( 0,0,0, 0.38 );
   

    /* Dark Theme */    
    --theme-dark-color-statusbar: #000;
    --theme-dark-color-appbar: #212121;   
    --theme-dark-color-background: #303030;
    --theme-dark-color-card: #424242;
    --theme-dark-color-text-primary:  rgb( 255,255,255 );
    --theme-dark-color-text-secondary: rgba( 255,255,255, 0.7 );
    --theme-dark-color-text-disabled: rgba( 255,255,255, 0.5 );  


    /* RTL Support */
    --i18n-begin: right; /*  left to right */
    --i18n-end: left; /* left to right */
    --i18n-begin-pad: 1em;
    --i18n-end-pad: 1em;
    --i18n-direction: ltr; /* left to right */

}


html {
    font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var( --color-background );
    margin: 0;
    margin-top: 4.3em;
}
.rtl {
    direction: rtl;
}


.appbar {
    background-color: var( --color-appbar );
    color: var( --theme-dark-color-text-primary );
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top:0;
    height: 4em;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    vertical-align: middle;

}


.appbar .begin {
    display: inline-flex;
    position: relative;
    float: var( --i18n-begin );
    padding-left: 1em;
    justify-content: center;
    vertical-align: middle;
    line-height: 4em;
    direction: var( --i18n-direction );
}

.appbar .begin *{
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    color: var( --theme-dark-color-text-primary );
    text-decoration: none;
    direction: var( --i18n-direction );

}
.appbar .end {
    display: inline-flex;
    position: relative;
    float: var( --i18n-end );
    padding-right: 1em;
    justify-content: center;
    vertical-align: middle;
    line-height: 4em;
    color: var( --theme-dark-color-text-primary );
    text-decoration: none;
    direction: var( --i18n-direction );

}
.appbar .end *{
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    color: var( --theme-dark-color-text-primary );
    text-decoration: none;
    direction: var( --i18n-direction );


}
.appbar i {
    padding: .75em;
}
.badge:after {
   background-color: #ff1010;
   border-radius: 50%;
   content:attr(data-bubble);  
 
    width: .4em;
    height: .4em;
    margin-left: -.3em;

}

.userCoin {
    border-radius: 50%;
    height: 3em;
    width: 3em;
    overflow: hidden;
    padding: .5em;
}
.userCoin img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}
    

.card {
    padding: 1em;
}
/*
.cardgrid > .card:nth-child(odd){
}
*/
.cardgrid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( var( --target-card-size ), 1fr) );
    grid-gap: 1.2em;
    text-align: center;
}


.cardImage {
    width: 100%;
    height: auto;
}

.gCard {
    background-color: var( --color-card );
    border-radius: .3em;
    overflow: hidden;
}
.cardTitle {
    color: var( --color-card-title );
}
.cardContent {
    color: var( --color-card-text );
}

.imageCard {
    background-color: var( --color-card );
    border-radius: .3em;
    overflow: hidden;
}
.imageCard img {
    width: 100%;
    height: auto;

}
.imageCard .title {
    color: var( --color-card-title );
    
}

.imageCard .floattitle {    
    color: var( --color-card-title );
    display: flex;
    margin-top: -2em;
    padding-left: 1.5em;
    padding-bottom: .5em;
    max-width: 100%;
    overflow: hidden;

}

.imageCard .content {

}

.userPanel {
    background-color: #424242;
    position: fixed;
    top: 4em;
    right: 0;

    width: 20em;
    display: grid;
    grid-template-areas: "userCoin userInfo"
                         "settings logout";
   
                         padding-bottom: 1em;
    
}

.userPanel .userCoin {
    grid-area: userCoin;
    display: inline-block;
}
.userPanel .userInfo {
    padding-top: 1em;
    margin-left: -3em;
    grid-area: userInfo;
    color: var( --color-card-title );
    display: inline-block;
    
}
.userPanel .userInfo span {
    text-align: left;
    float: left;
    display: inline-block;
}

.userPanel .settings {
    padding-left: 2em;
    grid-area: settings;
    display: inline-block;
    color: var( --color-card-title );
     justify-content: center;
    vertical-align: middle;
    text-decoration: none;
}
.userPanel .logout {
    grid-area: logout;
    display: inline-block;
    color: var( --color-card-title );
    justify-content: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: var(--color-background);
    width: 8em;
    padding-bottom: 1em;
}


.demoScene {
    background: linear-gradient(#009fe1, #3acec2),
                url('img/trex2.jpg') no-repeat;
             
    background-blend-mode: multiply;
    height: 50em;
}
.demoScene img {

}