:root {
    /* Document Used Variables */
    --color-background: var( --theme-dark-color-background );
    --color-card: var( --theme-dark-color-card );
    --color-card-title: var( --theme-dark-color-text-primary );
    --color-card-text: var( --theme-dark-color-text-secondary );

    /* Light theme */
    --theme-light-color-statusbar: #e0e0e0;
    --theme-light-color-appbar: #f5f5f5;   
    --theme-light-color-background: #fafafa;
    --theme-light-color-card: #fff;
    --theme-light-color-text-primary:  rgba( 0,0,0, 0.87 );
    --theme-light-color-text-secondary: rgba( 0,0,0, 0.54 );
    --theme-light-color-text-disabled: rgba( 0,0,0, 0.38 );
   

    /* Dark Theme */    
    --theme-dark-color-statusbar: #000;
    --theme-dark-color-appbar: #212121;   
    --theme-dark-color-background: #303030;
    --theme-dark-color-card: #424242;
    --theme-dark-color-text-primary:  rgb( 255,255,255 );
    --theme-dark-color-text-secondary: rgba( 255,255,255, 0.7 );
    --theme-dark-color-text-disabled: rgba( 255,255,255, 0.5 );  


    /* media queries */
    --viewport-phone: 599px;
    --viewport-tablet-portrait: 600px;
    --viewport-tablet-landscape: 900px;
    --viewport-desktop: 1200px;
    --viewport-large: 1800px;
    --viewport-2k: 2400px;
    --viewport-4k: 3100px;
    /* 
        The var() function can be used in place of any part of a 
        value in any property on an element. The var() function 
        can not be used as property names, selectors, or anything
        else besides property values. (Doing so usually produces
        invalid syntax, or else a value whose meaning has no
        connection to the variable.)
        https://www.w3.org/TR/css-variables-1/#using-variables
    */

    /* 
        Media queries should use EM units instead of pixel
        or REM units, to ensure consistant results.
        https://zellwk.com/blog/media-query-units/
    */

    --column-count: 1;
}

/* phone screens */
@media only screen and (max-width: 37.4px) {
    :root {
        -moz-column-count: 2;
    }
}

/* table portrait */
@media only screen and (min-width: 37.5em) {
    :root {
        --column-count: 3;
    }
}

/* tablet landscape */
@media only screen and (min-width: 56.25em) {
    :root {
        --column-count: 4;
    }
}

/* desktop screens */
@media only screen and (min-width: 75em) {
    :root {
        --column-count: 6
    }
}

/* large screens */
@media only screen and (min-width: 112.5em) {
    :root {
        --column-count: 9;
    }
}

/* 2k screens */
@media only screen and (min-width: 150px) {
    :root {
        --column-count: 12;
    }
}

/* 4k screens */
@media only screen and (min-width: 200em) {
    :root {
        --column-count: 16;
    }
}






html {
    font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var( --color-background );
    margin: 0;
}

.card {
    padding: 1em;
}
/*
.cardgrid > .card:nth-child(odd){
}
*/
.cardgrid {
    display: grid;
    grid-template-columns: repeat( var( --column-count ), 1fr );
    grid-gap: 1.2em;
    text-align: center;
}

.mdCard {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.cardImage {
    width: 100%;
    height: auto;
}

.gCard {
    background-color: var( --color-card );
    border-radius: 2px;
    overflow: hidden;
}
.cardTitle {
    color: var( --color-card-title );
}
.cardContent {
    color: var( --color-card-text );
}